// Add any custom Sass & CSS here
.background {
    width: 600px;
    height: 300px;
    img {
        height: 100%;
    }
}

/* Panaroma plugin styling */
/* Start */

html,
body {
    height: 100%;
		width: 100%;
		overflow: hidden;
}

.pano {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    cursor: move;
}

.pano .controls {
    position: relative;
    top: 40%;
}

.pano .controls a {
    position: absolute;
    display: inline-block;
    text-decoration: none;
    color: #eee;
    font-size: 3em;
    width: 20px;
    height: 20px;
}

.pano .controls a.left {
    left: 10px;
}

.pano .controls a.right {
    right: 10px;
}

.pano.moving .controls a {
    opacity: 0.4;
    color: #eee;
}


#test {
    background: lightgrey;
    padding: 5px;
    position: absolute;
    padding-top: 20px;
    top: 100px;
}

.close-button {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
		color: white;
		z-index: 2;
}

.close-button:hover {
	color: red;
}

.sound-icon {
	z-index: 2;
	color: rgba(255,255,255,0.9);
	position: absolute !important;
}

#icon-toolbar {
	z-index: 1;
	bottom: 0;
	position: fixed;
	width: 100%;
	background-color: rgba(200,200,200,0.5);
	display: block;
	margin: 0px;
	padding: 15px;
	height: 100px;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.icon-wrapper {
	position: absolute !important;
	color: white;
}
