// Add any custom Sass & CSS here
.background {
    width: 600px;
    height: 300px;
    img {
        height: 100%;
    }
}

/* Panaroma plugin styling */
/* Start */

html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif !important;
		width: 100%;
		overflow: hidden;
}

h2 {
  font-family: 'Open Sans', sans-serif !important;
  margin: auto;
}

.button {
  background-color: rgba(255, 255, 255, 0.75);
  margin-top: 20px;
  color: $darkgreen;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
}

.button:hover {
  background-color: $midgreen;
}

.button:active {
  background-color: $midgreen;
}

.button-submit {
  background-color: $darkgreen;
  color: $white;
  padding: 10px;
  margin: auto;
}

/*.button:visited {
  background-color: $font-mid;
}*/

.pano {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    cursor: move;
}

.pano .controls {
    position: relative;
    top: 40%;
}

.pano .controls a {
    position: absolute;
    display: inline-block;
    text-decoration: none;
    color: #eee;
    font-size: 3em;
    width: 20px;
    height: 20px;
}

.pano .controls a.left {
    left: 10px;
}

.pano .controls a.right {
    right: 10px;
}

.pano.moving .controls a {
    opacity: 0.4;
    color: #eee;
}


#test {
    background: lightgrey;
    padding: 5px;
    position: absolute;
    padding-top: 20px;
    top: 100px;
}

.icon-close-button {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
		color: white;
		z-index: 2;
}
.icon-close-button:hover{
  color: black;
}

.sound-icon {
	z-index: 2;
	position: absolute !important;
}

div {
  padding: auto;
}

#icon-toolbar {
	z-index: 1;
	bottom: 0;
	position: fixed;
	width: 100%;
	background-color: rgba(200,200,200,0.5);
	display: block;
	margin: 0px;
	padding: 15px;
}

.icon-wrapper {
	position: relative !important;
	color: white;
}
