    <div id="icon-toolbar" data-drop="true" jqyoui-droppable>
      <div class="row">
        <div class="small-3 large-2 columns" data-drop="true" jqyoui-droppable >
          <div ng-model="thunderIcon" class="icon-wrapper" data-drag="true" ng-hide="thunderIcon==false" jqyoui-draggable="{onStart: getPosition($event)}">
            <img src="./media/Icons/Thunder.png" aria-hidden="true">
            <i ng-click="thunderIcon=false" ng-hide="thunderIcon.position==null" class="fa fa-times-circle icon-close-button" aria-hidden="true"></i>
           </div>
          </div>
          
<button ng-click = "hello()">hello</button>
        <div class="small-3 large-2 columns" data-drop="true" jqyoui-droppable data-jqyoui-options>
          <div ng-model="birdIcon" class="icon-wrapper" data-drag="true" ng-hide="birdIcon==false" jqyoui-draggable="{onStop: getPosition({{birdIcon}})}" data-jqyoui-options>
            <img src="./media/Icons/Bird.png" aria-hidden="true">
            <i ng-click="birdIcon=false" ng-hide="birdIcon.position==null" class="fa fa-times-circle icon-close-button" aria-hidden="true"></i>
          </div>
        </div>
        <div class="small-3 large-2 columns" data-drop="true" jqyoui-droppable data-jqyoui-options>
          <div ng-model="windIcon" class="icon-wrapper" data-drag="true" ng-hide="windIcon==false" jqyoui-draggable="{onStop: getPosition({{windIcon}})}">
            <img src="./media/Icons/Wind.png" aria-hidden="true">
            <i ng-click="windIcon=false" ng-hide="windIcon.position==null" class="fa fa-times-circle icon-close-button" aria-hidden="true"></i>
          </div>
        </div>
        <div class="small-3 large-2 columns" style="float:left !important" data-drop="true" jqyoui-droppable data-jqyoui-options>
          <div ng-model="pawIcon" class="icon-wrapper" data-drag="true" ng-hide="pawIcon==false" jqyoui-draggable="{onStop: getPosition({{pawIcon}})}">
            <img src="./media/Icons/Paw.png" aria-hidden="true">
            <i ng-click="pawIcon=false" ng-hide="pawIcon.position==null" class="fa fa-times-circle icon-close-button" aria-hidden="true"></i>
          </div>
        </div>
      </div>
  </div>
