<div class="row">
  <div class="small-12 columns">
    <h2>Hello! Welcome to Kaleidoscope!</h2>
    <p>Kaleidoscope is an interactive experience designed to immerse the user in a new
        environment.  In order to participate, there are a few things to know:
    </p>
    <ol>
      <li>For an optimal experience, please wear headphones.</li>
      <li>There are two edit modes: <strong>edit</strong> and <strong>view</strong><li>
      <li>If you ever get confused...</li>  
    </ol>
  </div>
</div>
