<div class="row">
  <div class="small-12 columns">
    <!--<img id="intro-logo" src="./media/logogreen.png" alt="Kaleidoscope Logo"></img>-->
    <h2 class="title">Hello! Welcome to Kaleidoscope!</h2>
    <p class="subtitle">Kaleidoscope is an interactive experience designed to immerse the user in a new
environment. In order participate, there are a few things to know:
    </p>
    <ol class="body">
      <li>For an optimal experience, please wear headphones.</li>
      <li>There are two modes: <strong>edit</strong> and <strong>view</strong>. In <strong>edit</strong>, you may create experiences dragging
     icons onto the image. In <strong>view</strong>, you can fully experience the environment without
     any distractions. </li>
      <li>If you ever get confused or want to start over, simply refresh to view the directions once again.</li>
    </ol>
    <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
  </div>
</div>
