<div ng-controller="LoginController">
    <div class="row">
        <div class="small-12 columns">
            <h2 class="title">Login</h2>
            <form>
                <label class="body">Username</label>
                <input type="text" ng-model="user.username"></input>
                <label class="body">Password</label>
                <input type="password" ng-model="user.password"></input>
                <input ng-click="login(); finished()" class="button-submit button" type="submit"></input>
            </form>
            <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
