<!--<nav id="nav-toolbar" ng-controller="NavController">
    <div class="row">
        <div class="small-4 medium-3 large-2 columns">
            <img class="nodrag logo" src="./media/logo.png" alt="Kaleidoscope Logo"></img>
        </div>
        <div class="small-3 medium-4 large-5 columns" style="float:right">
            <a class="button" ng-click="open('partials/login.html')">Login</a>
            <a class="button" ng-click="open('partials/sign-up.html')">Sign Up</a>
            <a class="button" ng-href="#/edit">Edit Mode</a>
            <a class="button" ng-href="#/view">View Mode</a>
        </div>
    </div>
</nav>
-->
<!--     <div id="myPano" class="pano">
        <div class="controls">
            <a href="#" class="left">&laquo;</a>
            <a href="#" class="right">&raquo;</a>
        </div>
    </div> -->
<!--<button ng-click = "hello()">hello</button>-->
