<div ng-controller="SignupController">
    <div class="row">
        <div class="small-12 columns">
            <h2>Sign Up</h2>
            <form data-abide novalidate>
                <label>Email</label>
                <input type="email" required ng-model="newuser.email"></input>
                <label>Username</label>
                <input type="text" required ng-model="newuser.username"></input>
                <label>Password</label>
                <input type="password" required ng-model="newuser.password"></input>
                <label>Confirm Password</label>
                <input type="password" required ng-model="confirmpassword"></input>
                <input ng-click="signup()" class="button" type="submit"></input>
            </form>
            <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
