<!--<nav id="nav-toolbar" ng-controller="NavController">
    <div class="row">
        <div class="small-4 medium-3 large-2 columns">
            <img class="nodrag logo" src="./media/logo.png" alt="Kaleidoscope Logo"></img>
        </div>
        <div class="small-4 medium-4 columns" style="float:right">
            <a class="button" ng-click="open('partials/login.html')">Login</a>
            <a class="button" ng-click="open('partials/sign-up.html')">Sign Up</a>
            <a class="button" ng-href="#/edit">Edit Mode</a>
            <a class="button" ng-href="#/view">View Mode</a>
            <a ng-click="open('partials/saved-views.html')" class="button">Load Saved View</a>
        </div>
    </div>
</nav>
-->

<div ng-controller="NavController" ng-init="init('partials/saved-views.html');">
</div>
